{{!-- <div id='cake-container'>

    <div class='cakebox'>
       <img class ='cake' src='/images/{{img_url}}'></a>
        
    <div class="description">
          <h4>{{name}}</h4>
          <h5>{{description}}</h5>
    </div>
    </div>

</div> --}}

<div class="media">
  <img class=media-img src="/images/{{img_url}}" class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h4 class="mt-0">{{name}}</h4>
       <h5>{{description}}</h5> 
  </div>
</div>